@use "variable" as *;
@use "svg" as *;

/* =========================================
ドロップシャドウ
----------------------------------------- */
@mixin drop-shadow {
    box-shadow: 2px 2px 3px 0 rgb(53 45 32 / 15%);
}
@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}
@mixin itemTitle {
    position: relative;
    font-size: fz(24);
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 0.5em 2em;
    min-width: 28rem;

    // --c: #fff;
    text-align: center;
    --w: 1px;
    --gap: 4px;
    --inset: 6px;
    --over: 6px;
    background:
        linear-gradient(var(--c), var(--c)) calc(-1 * var(--over)) top no-repeat,
        linear-gradient(var(--c), var(--c)) calc(-1 * var(--over))
            calc(var(--gap)) no-repeat,
        linear-gradient(var(--c), var(--c)) calc(-1 * var(--over)) bottom
            no-repeat,
        linear-gradient(var(--c), var(--c)) calc(-1 * var(--over))
            calc(100% - var(--gap)) no-repeat;
    background-size:
        calc(100% + (var(--over) * 2)) var(--w),
        calc(100% + (var(--over) * 2)) var(--w),
        calc(100% + (var(--over) * 2)) var(--w),
        calc(100% + (var(--over) * 2)) var(--w);
    &::before {
        content: "";
        position: absolute;
        top: calc(-1 * var(--over));
        left: 0;
        width: 100%;
        height: calc(100% + (var(--over) * 2));
        pointer-events: none;
        background:
            linear-gradient(var(--c), var(--c)) var(--inset) 0 no-repeat,
            linear-gradient(var(--c), var(--c)) calc(var(--inset) + var(--gap))
                0 no-repeat,
            linear-gradient(var(--c), var(--c)) calc(100% - var(--inset)) 0
                no-repeat,
            linear-gradient(var(--c), var(--c))
                calc(100% - (var(--inset) + var(--gap))) 0 no-repeat;
        background-size:
            var(--w) 100%,
            var(--w) 100%,
            var(--w) 100%,
            var(--w) 100%;
    }
}
@mixin itemH2 {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: inherit;
    i {
        flex: 1;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            width: calc(100% + 6px);
            height: 1px;
            background-color: $main-black;
        }
        &.itemLeft {
            &::before {
                left: 0;
            }
        }
        &.itemRight {
            &::before {
                right: 0;
            }
        }
    }
    h2 {
        @include itemTitle;
        --c: #1a1a1a;
    }
}

@mixin btnSub($height: 5.2rem) {
    background-color: rgba($main-black, 1);
    color: $main-white;
    @include flex-center;
    border-radius: 8px;
    height: $height;
    transition: 0.3s background-color ease-out;
    @include pc {
        &:hover {
            background-color: rgba($main-black, 0.7);
        }
    }
}

@mixin iconStatus {
    .reservationStatusIcon {
        position: relative;
        display: block;
        width: 1.6rem;
        aspect-ratio: 1;
        font-size: inherit;
        pointer-events: none;
        &::before {
            position: absolute;
            left: 50%;
            translate: -50%;
        }
    }
    &[data-status="full"] {
        .reservationStatusIcon {
            &::before {
                content: "満";
                color: #fc2727;
                font-size: fz(20);
                font-weight: 600;
                line-height: 1.2;
            }
        }
    }
    &[data-status="closed"] {
        .reservationStatusIcon {
            &::before {
                content: "-";
                color: #777;
                font-size: fz(20);
                font-weight: 600;
                line-height: 1.2;
            }
        }
    }
    &[data-status="holiday"] {
        .reservationStatusIcon {
            &::before {
                content: "休";
                color: #777;
                font-size: fz(20);
                font-weight: 600;
                line-height: 1.2;
            }
        }
    }
    &[data-status="open"] {
        .reservationStatusIcon {
            &::before {
                content: "";
                width: 2.4rem;
                @include svg-iconStatusCircle(000);
            }
        }
    }
    &[data-status="limited"] {
        .reservationStatusIcon {
            &::before {
                content: "";
                width: 2.4rem;
                @include svg-iconStatusTriangle(000);
            }
        }
    }
}
