@mixin svg-bg-base($w, $h) {
    aspect-ratio: #{$w} / #{$h};
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

// →アイコン
@mixin svg-arrow-right($color, $w: 11, $h: 9) {
    @include svg-bg-base($w, $h);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$w} #{$h}" fill="%23#{$color}"><path d="M10.7387 4.37717C10.267 3.41082 9.48099 2.72502 8.64255 2.11195C7.84602 1.50928 7.40584 0.574098 6.53595 0.0545523C6.42067 -0.0181841 6.27394 -0.0181841 6.14817 0.0545523C5.98048 0.158462 5.92808 0.387062 6.03289 0.553316C6.45211 1.17677 7.01806 1.65475 7.61545 2.10156C8.1814 2.73541 8.73687 3.37965 9.3133 4.0031C6.73508 4.26287 3.004 4.04467 0.499145 4.03427C-0.171612 4.03427 -0.161131 5.0318 0.499145 5.02141C3.4337 4.84477 6.36826 5.12532 9.29234 5.08376C9.07225 5.32275 8.85216 5.58252 8.65303 5.84229C7.72026 6.65279 6.76652 7.42171 5.89664 8.30494C5.77087 8.41924 5.72895 8.61667 5.81279 8.78292C5.9176 8.98035 6.15865 9.05309 6.35778 8.95957C7.33248 8.49198 8.02419 7.71266 8.64255 6.88139C9.22946 6.12285 10.1203 5.67604 10.6548 4.86555C10.7911 4.75125 10.8435 4.55382 10.7596 4.38757L10.7387 4.37717Z"/></svg>');
}
