/* =================================
 * 	黒川温泉観光協会 TOPページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
@mixin itemH3 {
    margin-block: 3em;
    position: relative;
    font-size: fz(20);
    font-weight: 600;
    letter-spacing: 0.04em;
    writing-mode: vertical-rl; // 縦書き
    text-orientation: upright; // 縦書き英数回転
    font-feature-settings: initial; // 左詰め解除
    padding-top: 1em;
    padding-right: 0.2em;
    @include sp {
        margin-block: unset;
    }
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        translate: -50%;
        top: 0;
        width: 14px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $main-black;
    }
}

/* =================================
 * HERO
 * ------------------------------ */
.containerTopHero {
    border-bottom: 2px solid $main-black;
    .boxImage {
        position: relative;
        width: 100%;
        img {
            width: 100%;
            aspect-ratio: 1.78;
            object-fit: cover;
            @include sp {
                aspect-ratio: unset;
                height: 100vh;
                height: 100dvh;
                object-position: 58% bottom;
            }
        }
    }
    .itemLogo {
        display: inline-block;
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 2;
        width: 18rem;
        aspect-ratio: 18/22;
        @include sp {
            width: 40vw;
        }
        svg {
            width: 100%;
            fill: $main-white;
            aspect-ratio: 18/22;
        }
    }
    .boxWeather {
        position: absolute;
        left: 50%;
        translate: -50%;
        bottom: 0;
        z-index: 3;
        color: $main-white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        min-width: 287px;
        height: 42px;
        background-color: rgba($main-black, 0.9);
        clip-path: polygon(
            calc(100% - 17.446px) calc(50% - -3.475px),
            calc(100% - 17.446px) 11.0247px,
            calc(100% - 17.446px) 11.0247px,
            calc(100% - 17.5896px) 9.2358px,
            calc(100% - 18.0053px) 7.539px,
            calc(100% - 18.6705px) 5.957px,
            calc(100% - 19.5628px) 4.5125px,
            calc(100% - 20.6595px) 3.228px,
            calc(100% - 21.9382px) 2.1263px,
            calc(100% - 23.3762px) 1.23px,
            calc(100% - 24.951px) 0.5618px,
            calc(100% - 26.6401px) 0.1442px,
            calc(100% - 28.421px) 0,
            28.4205px 0,
            28.4205px 0,
            26.6397px 0.1442px,
            24.9506px 0.5618px,
            23.3758px 1.23px,
            21.9378px 2.1263px,
            20.6591px 3.228px,
            19.5624px 4.5125px,
            18.6702px 5.957px,
            18.0049px 7.539px,
            17.5893px 9.2358px,
            17.4457px 11.0247px,
            17.4457px calc(50% - -3.475px),
            17.4457px calc(50% - -3.475px),
            17.2173px calc(50% - -6.3168px),
            16.556px calc(50% - -9.013px),
            15.4978px calc(50% - -11.5273px),
            14.0788px calc(50% - -13.8236px),
            12.3348px calc(50% - -15.8658px),
            10.3018px calc(50% - -17.6177px),
            8.0159px calc(50% - -19.0433px),
            5.513px calc(50% - -20.1062px),
            2.829px calc(50% - -20.7705px),
            0 calc(50% - -21px),
            17.4457px calc(100% - 0px),
            calc(100% - 0px) calc(100% - 0px),
            calc(100% - 0px) calc(100% - 0px),
            calc(100% - 2.8291px) calc(100% - 0.2295px),
            calc(100% - 5.5131px) calc(100% - 0.8938px),
            calc(100% - 8.016px) calc(100% - 1.9567px),
            calc(100% - 10.302px) calc(100% - 3.3823px),
            calc(100% - 12.335px) calc(100% - 5.1342px),
            calc(100% - 14.079px) calc(100% - 7.1764px),
            calc(100% - 15.4981px) calc(100% - 9.4727px),
            calc(100% - 16.5563px) calc(100% - 11.987px),
            calc(100% - 17.2176px) calc(100% - 14.6832px),
            calc(100% - 17.446px) calc(100% - 17.525px)
        );
        p {
            font-size: fz(16);
            border-right: 1px solid;
            padding-right: 1em;
            margin-right: 1em;
        }
        span {
            &::after {
                content: "℃";
            }
        }
    }
}

/* =================================
 * 加盟店一覧
 * ------------------------------ */
.containerTopShopList {
    padding-inline: 4vw;
    padding-top: 8rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sp {
        padding: 8vw 4vw;
    }
    h2 {
        @include itemTitle;
        --c: #1a1a1a;
    }
    ul {
        position: relative;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto auto;
        font-size: inherit;
        gap: 3em;
        @include sp {
            grid-template-columns: unset;
        }
    }
    .linkList {
        @include btnSub(5.6rem);
        width: 100%;
        max-width: 48rem;
        margin-top: 6.5rem;
        font-size: fz(16);
        letter-spacing: 0.04em;
        font-weight: 500;
    }
}

/* =================================
 * 黒川温泉観光協会について
 * ------------------------------ */
.containerTopAbout {
    position: relative;
    @include flex-center(column);
    padding-inline: 4vw;
    padding-top: 10rem;
    padding-bottom: 8rem;
    gap: 9rem 0;
    @include sp {
        padding: 14vw 4vw 2vw;
        gap: 8vw 0;
    }
    .bg {
        position: absolute;
        inset: 0;
        overflow: hidden;
        z-index: 0;
        div {
            position: absolute;
            top: 10vh;
            left: 0;
            width: 100%;
            height: 100vh;
            opacity: 0.3;
            will-change: transform;
            background: url("/images/about/section-bg.webp") center / cover
                no-repeat;
            z-index: -1;
        }
    }
    .boxHead {
        position: relative;
        font-size: inherit;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        gap: 4rem 10rem;
        margin-left: 6rem;
        @include sp {
            display: contents;
        }
        .itemLogo {
            grid-row: span 2;
            width: 16.3rem;
            @include sp {
                width: 30vw;
                z-index: 3;
            }
            svg {
                width: 100%;
                fill: $main-black;
                aspect-ratio: 18/22;
            }
        }
        h2 {
            @include itemTitle;
            --c: #1a1a1a;
            justify-self: start;
            text-align: left;
            padding-left: 1em;
            padding-right: 1.4em;
            min-width: unset;
        }
        p {
            font-size: fz(16);
            max-width: 31em;
            letter-spacing: 0.04em;
            line-height: 2.4em;
            @include sp {
                max-width: unset;
                font-size: fz(18);
                line-height: 2em;
            }
        }
    }
    article {
        display: flex;
        justify-content: space-between;
        max-width: $articleMaxWidth;
        @include sp {
            gap: 0 4vw;
            margin-top: 4vw;
        }
        h3 {
            @include itemH3;
        }
        .boxContents {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 2rem;
            border-top: 1px solid;
            border-left: 1px solid;
            padding-bottom: 1.6rem;
            @include sp {
                position: static;
                padding-bottom: unset;
                gap: 0;
            }
            .itemImage {
                grid-column: span 2;
            }
            img {
                aspect-ratio: 1.9;
                object-fit: cover;
                @include sp {
                    aspect-ratio: 294/407;
                    object-position: 25% center;
                }
            }
            p {
                font-size: fz(16);
                font-weight: 500;
                letter-spacing: 0.04em;
                line-height: 1.6em;
                padding-left: 4rem;
                @include sp {
                    padding: 4vw 0 0 4vw;
                }
            }
            a {
                position: relative;
                display: inline-block;
                width: 4.8rem;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: $main-black;
                margin-right: 4rem;
                align-self: center;
                @include sp {
                    margin-right: unset;
                    width: 10vw;
                    position: absolute;
                    left: -1vw;
                    bottom: 10vw;
                }
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    width: 14px;
                    @include svg-arrow-right("fff");
                }
                .srOnly {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    padding: 0;
                    margin: -1px;
                    overflow: hidden;
                    clip-path: inset(50%);
                    white-space: nowrap;
                    border: 0;
                }
            }
        }
    }
}

/* =================================
 * お知らせ
 * ------------------------------ */
.containerTopNews {
    @include flex-center;
    padding-inline: 4vw;
    @include sp {
        padding: 4vw 4vw 8vw;
    }
    article {
        display: flex;
        justify-content: space-between;
        max-width: $articleMaxWidth;
        padding-bottom: 8rem;
        padding-top: 5rem;
        @include sp {
            gap: 0 4vw;
            padding-bottom: 4vw;
        }
        h3 {
            @include itemH3;
        }
        ul {
            position: relative;
            flex: 1;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr auto;
            @include sp {
                grid-template-columns: 1fr auto;
            }
            li,
            a {
                font-size: inherit;
                grid-column: span 3;
                display: grid;
                grid-template-columns: subgrid;
                align-items: center;
                @include sp {
                    grid-column: span 2;
                }
            }
            li {
                border-bottom: 1px solid;
                padding: 4.6rem 4rem;
                &:first-of-type {
                    border-top: 1px solid;
                }
                @include sp {
                    padding: 6vw 0;
                }
            }
            a {
                gap: 0 5rem;
                @include sp {
                    gap: 0 8vw;
                }
                span {
                    font-size: fz(14);
                    letter-spacing: 0.04em;
                }
                p {
                    font-size: fz(16);
                    font-weight: 500;
                    letter-spacing: 0.04em;
                    @include sp {
                        order: 1;
                    }
                }
                i {
                    position: relative;
                    width: 3.6rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: $main-black;
                    @include sp {
                        grid-row: span 2;
                        width: 10vw;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        width: 11px;
                        @include svg-arrow-right("fff");
                    }
                }
            }
        }
    }
}

/* =================================
 * 組合バナー
 * ------------------------------ */
.containerTopBan {
    @include flex-center;
    padding-bottom: 14rem;
    padding-inline: 4vw;
    @include sp {
        padding: 0 4vw 16vw;
    }
    nav {
        font-size: inherit;
        position: relative;
        width: 100%;
        max-width: $articleMaxWidth;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 4rem;
        @include sp {
            grid-template-columns: unset;
            gap: 4vw 0;
        }
        a {
            position: relative;
            width: 100%;
            aspect-ratio: 523/360;
            @include flex-center;
            font-size: inherit;
            background: url("/images/top/ban-bg.webp") no-repeat center center /
                cover;
            border: 6px solid #1a1a1a;
            @include sp {
                border-width: 4px;

                // aspect-ratio: 329/220;
                max-width: unset;
            }
            &::before {
                content: "";
                position: absolute;
                --inline-size: 4px;
                inset: var(--inline-size) var(--inline-size) var(--inline-size)
                    var(--inline-size);
                border: 4px solid $main-black;
                z-index: +1;
                @include sp {
                    --inline-size: 3px;
                    border-width: 3px;
                }
            }
            &::after {
                content: "";
                position: absolute;
                inset: 0;
            }
            span {
                font-size: fz(24);
                font-weight: 600;
                letter-spacing: 0.08em;
                color: #fff;
                text-shadow: 2px 2px 0 rgb(0 0 0 / 50%);
                z-index: 1;
                @include sp {
                    font-size: fz(26);
                }
            }
            &.itemList {
                &::after {
                    background-color: rgba(#495f1b, 0.35);
                }
            }
            &.itemReserve {
                &::after {
                    background-color: rgba(#451f22, 0.35);
                }
            }
        }
    }
}

/* =================================
 * 協会概要
 * ------------------------------ */
.containerTopAssociationOverview {
    @include flex-center;
    padding: 9rem 4vw 12rem;
    @include sp {
        padding: 14vw 4vw 8vw;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    &::before {
        background: url("/images/top/bg-association-overview.webp") no-repeat
            center center/cover;
    }
    &::after {
        background: linear-gradient(
            0deg,
            rgb(0 0 0 / 40%) 0%,
            rgb(0 0 0 / 40%) 100%
        );
    }
    article {
        @include flex-center(column);
        color: $main-white;
        max-width: 71rem;
        @include sp {
            max-width: unset;
        }
        h2 {
            @include itemTitle;
            --c: #fff;
        }
        dl {
            position: relative;
            margin-top: 7.5rem;
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: inherit;
            @include sp {
                grid-template-columns: unset;
                margin-top: 10vw;
            }
            div {
                grid-column: span 2;
                font-size: inherit;
                display: grid;
                grid-template-columns: subgrid;
                gap: 0 5rem;
                @include sp {
                    border-bottom: 1px solid;
                    display: flex;
                    flex-direction: column;
                    padding-block: 4vw;
                    gap: 2vw 0;
                }
                &:first-of-type {
                    @include sp {
                        border-top: 1px solid;
                    }
                    dt,
                    dd {
                        border-top: 1px solid;
                        @include sp {
                            border: unset;
                        }
                    }
                }
                dt,
                dd {
                    font-size: fz(16);
                    font-weight: 500;
                    padding-block: 3.2rem;
                    border-bottom: 1px solid;
                    @include sp {
                        border: unset;
                        padding-block: unset;
                    }
                }
                dt {
                    min-width: 12rem;
                }
                dd {
                    padding-right: 2em;
                    @include sp {
                        padding-right: unset;
                    }
                    a,
                    address,
                    span,
                    i {
                        font-size: inherit;
                    }
                    address {
                        display: flex;
                        gap: 1em;
                        @include sp {
                            flex-direction: column;
                            gap: 1vw 0;
                        }
                    }
                    &.itemMember {
                        display: flex;
                        align-items: center;
                        span {
                            display: flex;
                            gap: 0 1em;
                            &:first-of-type {
                                &::after {
                                    content: "／";
                                    margin-right: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
