/* =================================
 * 	黒川温泉観光協会 加盟店一覧
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * HEAD
 * ------------------------------ */
.containerShops {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 4vw;
    background-color: #eaebec;
    @include sp {
        padding: 8vw 4vw;
    }
    nav {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: inherit;
        width: 100%;
        max-width: $articleMaxWidth;
        gap: 0 3rem;
        @include sp {
            grid-template-columns: unset;
            gap: 2vw 0;
        }
        a {
            position: relative;
            border: 1px solid;
            height: 5.6rem;
            @include flex-center;
            font-size: FZ(16);
            letter-spacing: 0.04em;
            border-radius: 1rem;
            @include sp {
                font-size: FZ(18);
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                right: 2rem;
                @include svg-arrow-right("1a1a1a");
                width: 1.2rem;
                rotate: 90deg;
            }
        }
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        flex-direction: column;
        padding: 9rem 0 0;
        @include sp {
            padding: 10vw 0;
        }
        .boxH2 {
            @include itemH2;
        }
        .notice {
            display: inline-block;
            align-self: flex-end;
            font-size: FZ(12);
            color: #6a6a6a;
            translate: 0 -1em;
            @include sp {
                translate: unset;
                align-self: center;
                margin-top: 4vw;
            }
        }
        ul {
            position: relative;
            margin-top: 5rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto auto auto auto;
            font-size: inherit;
            gap: 3em;
            @include sp {
                margin-top: 8vw;
                grid-template-columns: unset;
            }
        }
    }
}
