/* =================================
 * 	黒川温泉観光協会 TOPページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
@mixin itemH3 {
    margin-block: 3em;
    position: relative;
    font-size: FZ(20);
    font-weight: 600;
    letter-spacing: 0.04em;
    writing-mode: vertical-rl; //縦書き
    text-orientation: upright; //縦書き英数回転
    font-feature-settings: initial; //左詰め解除
    padding-top: 1em;
    padding-right: 0.2em;
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        translate: -50%;
        top: 0;
        width: 14px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: $main-black;
    }
}

/* =================================
 * HERO
 * ------------------------------ */
.containerTopHero {
    border-bottom: 2px solid $main-black;
    .boxImage {
        position: relative;
        width: 100%;
        img {
            width: 100%;
            aspect-ratio: 1.78;
            object-fit: cover;
        }
    }
    h1 {
        display: inline-block;
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 2;
        width: 18rem;
        aspect-ratio: 18/22;
        svg {
            width: 100%;
            fill: $main-white;
            aspect-ratio: 18/22;
        }
    }
    .boxWeather {
        position: absolute;
        left: 50%;
        translate: -50%;
        bottom: 0;
        z-index: 3;
        color: $main-white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: inherit;
        min-width: 287px;
        height: 42px;
        background-color: rgba($main-black, 0.9);
        clip-path: polygon(
            calc(100% - 17.446px) calc(50% - -3.475px),
            calc(100% - 17.446px) 11.0247px,
            calc(100% - 17.446px) 11.0247px,
            calc(100% - 17.589572px) 9.23576418px,
            calc(100% - 18.005256px) 7.53897984px,
            calc(100% - 18.670504px) 5.95699566px,
            calc(100% - 19.562768px) 4.51246032px,
            calc(100% - 20.6595px) 3.2280225px,
            calc(100% - 21.938152px) 2.12633088px,
            calc(100% - 23.376176px) 1.23003414px,
            calc(100% - 24.951024px) 0.56178096px,
            calc(100% - 26.640148px) 0.14422002px,
            calc(100% - 28.421px) 1.824176748375e-31px,
            28.4205px 0px,
            28.4205px 0px,
            26.6396779px 0.14422002px,
            24.9505832px 0.56178096px,
            23.3757633px 1.23003414px,
            21.9377656px 2.12633088px,
            20.6591375px 3.2280225px,
            19.5624264px 4.51246032px,
            18.6701797px 5.95699566px,
            18.0049448px 7.53897984px,
            17.5892691px 9.23576418px,
            17.4457px 11.0247px,
            17.4457px calc(50% - -3.475px),
            17.4457px calc(50% - -3.475px),
            17.21727846px calc(50% - -6.3168465px),
            16.55599808px calc(50% - -9.012992px),
            15.49783522px calc(50% - -11.5272955px),
            14.07876624px calc(50% - -13.823616px),
            12.3347675px calc(50% - -15.8658125px),
            10.30181536px calc(50% - -17.617744px),
            8.01588618px calc(50% - -19.0432695px),
            5.51295632px calc(50% - -20.106248px),
            2.82900214px calc(50% - -20.7705385px),
            3.2080271772372e-15px calc(50% - -21px),
            17.4457px calc(100% - 0px),
            calc(100% - 0px) calc(100% - 0px),
            calc(100% - 0px) calc(100% - 0px),
            calc(100% - 2.829064px) calc(100% - 0.22946149999999px),
            calc(100% - 5.513072px) calc(100% - 0.893752px),
            calc(100% - 8.016048px) calc(100% - 1.9567305px),
            calc(100% - 10.302016px) calc(100% - 3.382256px),
            calc(100% - 12.335px) calc(100% - 5.1341875px),
            calc(100% - 14.079024px) calc(100% - 7.176384px),
            calc(100% - 15.498112px) calc(100% - 9.4727045px),
            calc(100% - 16.556288px) calc(100% - 11.987008px),
            calc(100% - 17.217576px) calc(100% - 14.6831535px),
            calc(100% - 17.446px) calc(100% - 17.525px)
        );
        p {
            font-size: FZ(16);
            border-right: 1px solid;
            padding-right: 1em;
            margin-right: 1em;
        }
        span {
            &::after {
                content: "℃";
            }
        }
    }
}
/* =================================
 * 黒川温泉観光協会について
 * ------------------------------ */
.containerTopAbout {
    position: relative;
    @include flex-center(column);
    padding-inline: 4vw;
    padding-top: 10rem;
    padding-bottom: 8rem;
    gap: 9rem 0;
    .bg {
        position: absolute;
        inset: 0;
        overflow: hidden;
        z-index: 0;
        div {
            position: absolute;
            top: 10vh;
            left: 0;
            width: 100%;
            height: 100vh;
            opacity: 0.3;
            will-change: transform;
            background: url(/images/about/section-bg.webp) center / cover
                no-repeat;
        }
    }
    .boxHead {
        position: relative;
        font-size: inherit;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto 1fr;
        gap: 4rem 10rem;
        margin-left: 6rem;
        .itemLogo {
            grid-row: span 2;
            width: 16.3rem;
            svg {
                width: 100%;
                fill: $main-black;
                aspect-ratio: 18/22;
            }
        }
        h2 {
            @include itemTitle;
            --c: #1a1a1a;
            justify-self: start;
            text-align: left;
            padding-left: 1em;
            padding-right: 1.4em;
            min-width: unset;
        }
        p {
            font-size: FZ(16);
            max-width: 31em;
            letter-spacing: 0.04em;
            line-height: 2.4em;
        }
    }
    article {
        display: flex;
        justify-content: space-between;
        max-width: $articleMaxWidth;
        h3 {
            @include itemH3();
        }
        .boxContents {
            position: relative;
            font-size: inherit;
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 2rem;
            border-top: 1px solid;
            border-left: 1px solid;
            padding-bottom: 1.6rem;
            .itemImage {
                grid-column: span 2;
            }
            img {
                aspect-ratio: 1.9;
                object-fit: cover;
            }
            p {
                font-size: FZ(16);
                font-weight: 500;
                letter-spacing: 0.04em;
                line-height: 1.6em;
                padding-left: 4rem;
            }
            a {
                position: relative;
                display: inline-block;
                width: 4.8rem;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: $main-black;
                margin-right: 4rem;
                align-self: center;
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    margin: auto;
                    width: 14px;
                    @include svg-arrow-right("fff");
                }
            }
        }
    }
}
/* =================================
 * お知らせ
 * ------------------------------ */
.containerTopNews {
    @include flex-center;
    padding-inline: 4vw;
    article {
        display: flex;
        justify-content: space-between;
        max-width: $articleMaxWidth;
        padding-bottom: 18rem;
        padding-top: 5rem;
        h3 {
            @include itemH3();
        }
        ul {
            position: relative;
            flex: 1;
            font-size: inherit;
            display: grid;
            grid-template-columns: auto 1fr auto;
            li,
            a {
                font-size: inherit;
                grid-column: span 3;
                display: grid;
                grid-template-columns: subgrid;
                align-items: center;
            }
            li {
                border-bottom: 1px solid;
                padding: 4.6rem 4rem;
                &:first-of-type {
                    border-top: 1px solid;
                }
            }
            a {
                gap: 0 5rem;
                span {
                    font-size: FZ(14);
                    letter-spacing: 0.04em;
                }
                p {
                    font-size: FZ(16);
                    font-weight: 500;
                    letter-spacing: 0.04em;
                }
                i {
                    position: relative;
                    width: 3.6rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: $main-black;
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        width: 11px;
                        @include svg-arrow-right("fff");
                    }
                }
            }
        }
    }
}
/* =================================
 * 協会概要
 * ------------------------------ */
.containerTopAssociationOverview {
    @include flex-center;
    padding: 9rem 4vw 12rem;
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    &::before {
        background: url(/images/top/bg-association-overview.webp) no-repeat
            center center/cover;
    }
    &::after {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 100%
        );
    }
    article {
        @include flex-center(column);
        color: $main-white;
        max-width: 71rem;
        h2 {
            @include itemTitle;
            --c: #fff;
        }
        dl {
            position: relative;
            margin-top: 7.5rem;
            display: grid;
            grid-template-columns: auto 1fr;
            font-size: inherit;
            div {
                grid-column: span 2;
                font-size: inherit;
                display: grid;
                grid-template-columns: subgrid;
                gap: 0 5rem;
                &:first-of-type {
                    dt,
                    dd {
                        border-top: 1px solid;
                    }
                }
                dt,
                dd {
                    font-size: FZ(16);
                    font-weight: 500;
                    padding-block: 3.2rem;
                    border-bottom: 1px solid;
                }
                dt {
                    min-width: 12rem;
                }
                dd {
                    padding-right: 2em;
                    a,
                    address,
                    span,
                    i {
                        font-size: inherit;
                    }
                    address {
                        display: flex;
                        gap: 1em;
                    }
                }
            }
        }
    }
}
