/* =================================
 * 	黒川温泉観光協会 店舗オンライン商品 詳細ページ
 * ------------------------------ */
@use "variable" as *;
@use "svg" as *;
@use "mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * HEADER
 * ------------------------------ */
.containerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 153px 4vw 62px;
    background-color: #eaebec;
    color: $main-white;
    gap: 3rem 0;
    @include sp {
        padding: 26vw 4vw 8vw;
    }
    p {
        position: relative;
        font-size: fz(18);
        letter-spacing: 0.08em;
        @include sp {
            font-size: fz(16);
        }
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            translate: -50%;
            top: calc(100% + 0.8em);
            width: 2rem;
            height: 1px;
            background-color: $main-white;
        }
    }
    h2 {
        font-size: fz(24);
        font-weight: 600;
        letter-spacing: 0.04em;
        @include sp {
            font-size: fz(20);
            font-weight: 500;
        }
    }
    &.category-food {
        background-color: #ae6a6a;
        .itemCategory {
            &::before {
                width: 17px;
                @include svg-iconCategoryFood("fff");
            }
        }
    }
    &.category-souvenir {
        background-color: #6880a2;
        .itemCategory {
            &::before {
                width: 17px;
                @include svg-iconCategoryFood("fff");
            }
        }
    }
    &.category-other {
        background-color: #ae6a6a;
        .itemCategory {
            &::before {
                width: 17px;
                @include svg-iconCategoryFood("fff");
            }
        }
    }
}

/* =================================
 * コンテンツ
 * ------------------------------ */
.containerDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 4vw 12rem;
    background-color: #eaebec;
    @include sp {
        padding: 8vw 4vw;
    }
    article {
        max-width: $articleMaxWidth;
        display: flex;
        justify-content: space-between;
        gap: 0 5em;
        @include sp {
            flex-direction: column;
            gap: 6vw 0;
        }
        .boxImage {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 4rem 0;
            width: 50%;
            @include sp {
                width: 100%;
                gap: 4vw 0;
            }
            img {
                width: 100%;
                aspect-ratio: 1;
                object-fit: cover;
            }
            ul {
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem 4rem;
                @include sp {
                    gap: 4vw;
                }
            }
        }
        .boxDetail {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            min-width: 40rem;
            max-width: 50%;
            gap: 2rem 0;
            @include sp {
                min-width: unset;
                max-width: unset;
                width: 100%;
            }
            .itemId {
                font-size: fz(14);
                letter-spacing: 0.04em;
            }
            h3 {
                font-size: fz(24);
                font-weight: 500;
                letter-spacing: 0.04em;
            }
            .itemPrice {
                color: #a5945a;
                font-size: fz(18);
                margin-bottom: 0.8rem;
                i {
                    margin-right: 0.2em;
                }
                span {
                    font-size: 0.7em;
                }
            }
            .itemComment {
                font-size: fz(16);
                & > * {
                    font-size: inherit;
                    letter-spacing: 0.04em;
                    line-height: 1.8em;
                    text-align: justify;
                }
            }
            .wrapInput {
                font-size: inherit;
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                gap: 1rem 0;
                h4 {
                    font-size: fz(16);
                }
                & > div {
                    background-color: $main-white;
                    align-self: flex-start;
                    padding: 1.3rem;
                    display: flex;
                    align-items: center;
                    font-size: inherit;
                    gap: 0 3rem;
                    span {
                        color: #585858;
                        font-size: fz(24);
                        font-weight: 500;
                    }
                    button {
                        position: relative;
                        display: block;
                        width: 1.8rem;
                        aspect-ratio: 1;
                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                            inset: 0;
                            margin: auto;
                            width: 100%;
                            height: 2px;
                        }
                        &.itemMinus {
                            &::before {
                                background-color: $main-black;
                            }
                        }
                        &.itemPlus {
                            &::before {
                                background-color: $main-black;
                            }
                            &::after {
                                background-color: $main-black;
                                rotate: -90deg;
                            }
                        }
                    }
                    button:disabled {
                        opacity: 0.3;
                        pointer-events: none;
                    }
                    &.itemOptions {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 14px;
                            width: 8px;
                            height: 8px;
                            border-right: 2px solid currentColor;
                            border-bottom: 2px solid currentColor;
                            transform: translateY(-65%) rotate(45deg);
                            pointer-events: none;
                        }
                        select {
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;

                            margin: 0;
                            padding: 0;
                            border: none;
                            border-radius: 0;
                            background: transparent;
                            color: inherit;
                            font: 1.8rem;
                            padding-right: 3.6rem;
                            cursor: pointer;
                        }
                    }
                }
            }
            .soldOut {
                font-size: fz(16);
            }
            .itemButton {
                border: 1px solid;
                height: 5.6rem;
                border-radius: 1rem;
                margin-top: 4rem;
                @include sp {
                    margin-top: 4vw;
                }
            }
        }
    }
    .linkList {
        grid-column: span 2;
        width: 100%;
        margin-top: 9.6rem;
        @include flex-center;
        max-width: $articleMaxWidth;
        height: 5.6rem;
        background-color: $main-white;
        color: $main-black;
        border-radius: 1rem;
        font-size: fz(16);
        letter-spacing: 0.04em;
        font-weight: 500;
        @include sp {
            grid-column: unset;
            margin-top: 14vw;
        }
    }
}

/* =================================
 * モーダル
 * ------------------------------ */
.modalOverlay {
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 100dvh;
    @include flex-center;
    padding: 2rem;
    z-index: 10000;
    font-size: inherit;
    background-color: rgba($main-black, 0.4);
    .modalBox {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 1rem;
        @include drop-shadow;
        max-height: 90vh;
        overflow-y: auto;
        max-width: 64rem;
        font-size: inherit;
        padding: 6rem 4rem 4rem;
        @include sp {
            max-width: unset;
        }
        .modalClose {
            position: absolute;
            top: 2rem;
            right: 2rem;
            display: block;
            width: 1.4rem;
            aspect-ratio: 1;
            align-self: center;
            &::before,
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                width: 100%;
                height: 2px;
                background-color: $font-black;
            }
            &::before {
                rotate: -45deg;
            }
            &::after {
                rotate: 45deg;
            }
            i {
                display: none;
            }
        }
        .modalText {
            font-size: fz(16);
            text-align: center;
            line-height: 1.6em;
        }
        nav {
            position: relative;
            display: flex;
            justify-content: center;
            font-size: inherit;
            margin-top: 3rem;
            gap: 0 1em;
            @include sp {
                flex-direction: column;
                gap: 4vw 0;
            }
            a,
            button {
                font-size: inherit;
                height: 5.6rem;
                border-radius: 1rem;
                min-width: 20rem;
                @include flex-center;
                &.modalBtnSecondary {
                    border: 1px solid;
                }
            }
            .modalBtnPrimary {
                background-color: #6880a2;
                color: $main-white;
            }
        }
    }
}
