/* =================================
 * 	黒川温泉観光協会 HEADER
 * ------------------------------ */
@use "../../styles/variable" as *;
@use "../../styles/svg" as *;
@use "../../styles/mixin" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする
.containerHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include flex-center;
    z-index: 5;
    transition: 0.3s ease-out;
    article {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        color: $base-white;
        padding: 2.4rem 3.2rem 0;
        z-index: 6;
        @include sp {
            display: flex;
            padding: 0;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 14rem;
            background-image: linear-gradient(
                to bottom,
                rgb(26 26 26 / 35%),
                rgba(#000, 0)
            );
            z-index: -1;
            @include sp {
                height: 30vw;
            }
        }
        .boxMobileMenu {
            font-size: inherit;
            display: contents;
            @include sp {
                position: fixed;
                display: flex;
                flex-direction: column;
                left: 0;
                top: 0;
                translate: 100vw;
                background-color: $main-black;
                color: $main-white;
                width: 100vw;
                height: 100vh;
                height: 100vdh;
                padding: 20vw 8vw 8vw;
                z-index: 50;
                transition: 0.3s ease-out;
            }
            .mainMenu {
                position: relative;
                font-size: inherit;
                display: flex;
                flex-direction: column;
                a {
                    font-size: FZ(14);
                    font-weight: 600;
                    padding-block: 0.3em;
                    @include sp {
                        display: flex;
                        align-items: center;
                        font-size: FZ(18);
                        border-bottom: 1px solid #605c5c;
                        font-weight: 400;
                        padding-block: 4vw;
                        gap: 0 4vw;
                    }
                    span {
                        display: none;
                        @include sp {
                            display: inline-block;
                            @include Marcellus;
                            color: #605c5c;
                            text-transform: uppercase;
                            font-size: FZ(12);
                            letter-spacing: 0.08em;
                        }
                    }
                    &.linkTop {
                        display: none;
                        @include sp {
                            display: flex;
                        }
                    }
                }
            }
            .itemBan {
                display: none;
                @include sp {
                    position: relative;
                    margin-top: 6vw;
                    width: 100%;
                    aspect-ratio: 1086/260;
                    @include flex-center;
                    font-size: inherit;
                    background: url("/images/top/ban-bg.webp") no-repeat center
                        center / cover;
                    border: 4px solid #1a1a1a;
                    &::before {
                        content: "";
                        position: absolute;
                        --inline-size: 2px;
                        top: var(--inline-size);
                        left: var(--inline-size);
                        right: var(--inline-size);
                        bottom: var(--inline-size);
                        border: 2px solid $main-black;
                        z-index: +1;
                    }
                    span {
                        font-size: FZ(18);
                        font-weight: 500;
                        letter-spacing: 0.08em;
                        text-shadow: 2px 2px 0 rgb(0 0 0 / 50%);
                    }
                }
            }
            .itemCamera {
                display: none;
                @include sp {
                    display: flex;
                    align-items: center;
                    font-size: inherit;
                    margin-top: 6vw;
                    gap: 0 3vw;
                    i {
                        position: relative;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        width: 8vw;
                        border: 1px solid $main-white;
                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            margin: auto;
                            width: 50%;
                            @include svg-iconCamera("fff");
                        }
                    }
                    span {
                        display: inline-block;
                        font-size: FZ(18);
                        letter-spacing: 0.04em;
                        line-height: 1.6em;
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }
            .subMenu {
                display: none;
                @include sp {
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    margin-block: 4vw;
                    a {
                        font-size: FZ(16);
                        padding-block: 2vw;
                        letter-spacing: 0.04em;
                    }
                }
            }
            .linkContact {
                display: none;
                @include sp {
                    position: relative;
                    @include flex-center;
                    border: 1px solid #605c5c;
                    width: 100%;
                    height: 10vw;
                    font-size: inherit;
                    padding-left: 6vw;
                    span {
                        position: relative;
                        font-size: FZ(16);
                        &::before {
                            content: "";
                            position: absolute;
                            top: 45%;
                            translate: 0 -50%;
                            right: calc(100% + 1em);
                            width: 5vw;
                            @include svg-iconMail("fff");
                        }
                    }
                }
            }
            &.isOpen {
                translate: 0;
            }
        }
        h1 {
            width: 5.2rem;
            transition: opacity 0.5s ease-out;
            a {
                font-size: inherit;
                display: block;
                svg {
                    fill: #fff;
                    aspect-ratio: 18/22;
                }
            }
            &.isHidden {
                opacity: 0;
            }
            &.isVisible {
                opacity: 1;
                @include sp {
                    opacity: 0;
                }
            }
        }
        .linkCamera {
            justify-self: end;
            font-size: inherit;
            @include sp {
                order: -1;
                padding-top: 4vw;
                padding-left: 4vw;
            }
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: inherit;
                gap: 1rem 0;
                @include sp {
                    gap: 1.5vw 0;
                }
                i {
                    position: relative;
                    width: 3.6rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: $main-white;
                    @include sp {
                        width: 10vw;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        margin: auto;
                        width: 2rem;
                        @include svg-iconCamera("1a1a1a");
                    }
                }
                span {
                    display: inline-block;
                    font-size: FZ(12);
                    font-weight: 600;
                    letter-spacing: 0.04em;
                    line-height: 1.6em;
                    text-align: center;
                    cursor: pointer;
                    @include sp {
                        line-height: 1.3em;
                        font-size: 2.6vw;
                    }
                }
            }
        }
    }
}
.hamburgerButton {
    position: relative;
    position: fixed;
    top: 4vw;
    right: 4vw;
    width: 10vw;
    aspect-ratio: 1;
    z-index: 100;
    display: none;
    background-color: rgba(26, 26, 26, 0.8);
    border-radius: 50%;
    @include sp {
        display: block;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            aspect-ratio: 1;
            border-radius: 50%;
            z-index: -1;
        }
        &::before {
            width: calc(100% + 1rem);
            background-color: rgba($base-white, 0.15);
        }
        &::after {
            width: 100%;
            background-color: rgba(26, 26, 26, 0.8);
        }
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 1px;
        background-color: #d8d7c9;
        transition: 0.3s ease-out;
        &:nth-of-type(1) {
            translate: -50% calc(-50% - 6px);
        }
        &:nth-of-type(2) {
            translate: -50% -50%;
        }
        &:nth-of-type(3) {
            translate: -50% calc(-50% + 6px);
        }
    }
    &.is-open {
        span {
            transition: 0.3s ease-out;
            &:nth-of-type(1) {
                translate: -50% -50%;
                rotate: 45deg;
            }
            &:nth-of-type(2) {
                translate: 150% -50%;
                opacity: 0;
            }
            &:nth-of-type(3) {
                translate: -50% -50%;
                rotate: -45deg;
            }
        }
    }
}
